<footer>
  <div class="footer-logo">
    <img src="../../../assets/SVGs/FooterLogo.svg" alt="" />
  </div>
  <div class="footer-content">
    <p>
      Copyright © 2022 NFTPOOL. <br />
      <span>All rights reserved</span>
    </p>
  </div>
  <div class="footer-socials">
    <span>
      <a
        href="https://www.instagram.com/mafzaldev/"
        target="_blank"
        rel="noreferrer"
      >
        <img src="../../../assets/SVGs/Group 9.svg" alt="" />
      </a>
    </span>
    <span>
      <a href="#/" target="_blank" rel="noreferrer">
        <img src="../../../assets/SVGs/Group 10.svg" alt="" />
      </a>
    </span>
    <span>
      <a href="#/" target="_blank" rel="noreferrer">
        <img src="../../../assets/SVGs/Group 11.svg" alt="" />
      </a>
    </span>
    <span>
      <a href="https://twitter.com/mafzaldev" target="_blank" rel="noreferrer">
        <img src="../../../assets/SVGs/Group 12.svg" alt="" />
      </a>
    </span>
  </div>
</footer>
