<div class="container">
  <h3>Sign in to NFTPool</h3>
  <div class="form-container">
    <form (ngSubmit)="login()" ngNativeValidate>
      <input
        type="email"
        [(ngModel)]="email"
        name="email"
        id="email"
        placeholder="Enter email address"
        required
      />
      <input
        type="password"
        [(ngModel)]="password"
        name="password"
        id="password"
        placeholder="Enter password"
        required
      />
      <app-button
        type="{{ 'submit' }}"
        width="{{ '350px' }}"
        height="{{ '40px' }}"
        text="{{ 'Sign In' }}"
      ></app-button>
    </form>
    <div class="other-options">
      <span>or continue with</span>
      <a href="">Google</a>
      <a href="">Facebook</a>
    </div>
  </div>
  <div class="footer">
    Don't have an account?
    <span>
      <a routerLink="/signup">Sign Up</a>
    </span>
  </div>
</div>
